/* Navbar background */
.bg-black {
  background-color: #0b0b0b !important;
}

/* Logo */
.navbar-logo {
  height: 42px;
}
.nav-hover{
  color: #0b0b0b !important;
  position: relative;
  text-decoration: none;
  /* Smooth color transition on hover */
  transition: color 0.3s ease;
}

.nav-hover:hover{
  color:blue !important;
}
.nav-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}
.nav-hover:hover::after {
  width: 100%;
   
}